@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RMS.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
        <div class="d-flex align-items-center justify-content-center my-2 gap-2">
            <div><img src="~/images/logo.png" class="login-shoplogo" alt="pizza-shop-logo" height="100" width="100">
            </div>
            <div class="fw-normal fs-1 ">AssessmentProject</div>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center text-center h-100">
            <div class="error-code fw-bolder">404</div>
            <div class="text-black fs-3">Page Not Found</div>
            <p class="fs-6">
                Oops, the page you’re looking for isn’t here.
            </p>
        </div>
    </div>
</body>

</html>
