<!DOCTYPE html>
<html lang="en" style="height: 100vh;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] AssessmentProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AssessmentProject.Web.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <Nav class="navbar sticky-top p-1 main-color">
            <div class="d-flex align-items-center">
                <img src="~/images/logo.png" class="offcanvas-logo" alt="" height="50" width="50">
                <span class="fs-4 company-name">Assessment Project</span>
            </div>
            <a data-bs-toggle="modal" data-bs-target="#logoutModal" class="text-nowrap text-dark"
                style="cursor: pointer;">
                <div class="d-flex align-items-center my-2 px-2">
                    <img class="px-2" src="~/images/logout-svgrepo-com.svg" height="18" alt="">
                    <div class="d-none d-sm-block" style="text-decoration: none;">
                        Logout
                    </div>
                </div>
            </a>
        </Nav>
        <!-- Modal For Logout -->
        <div class="modal fade" id="logoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column align-items-center gap-3">
                            <img src="~/images/warning-solid-svgrepo-com.svg" alt="warning-icon">
                            <span>Are you sure you want to logout?</span>
                            <!-- Form that posts to DeleteUser action -->
                            <form method="post" asp-controller="User" asp-action="Logout">
                                <!-- Hidden input to store the UserId -->
                                <input type="hidden" id="logout" name="userId" />
                                <div class="d-flex align-items-center gap-2">
                                    <button type="submit" class="btn regular-btn" data-bs-dismiss="modal">Yes</button>
                                    <button type="button" class="btn modal-button-n back-btn"
                                        data-bs-dismiss="modal">No</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
